/resources/public/js/compiled/**
/resources/public/edn/config.edn
/resources/public/edn/notifications.edn
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.hg/
.hgignore
