{:endpoint-shortcuts [{:name "localhost"
                        :host "localhost:9200"
                        :index "brainiac"
                        :doc-type "product"
                        :instance-mapper "http://example.com/brainiac/products_mapper"
                        :suggesters {:currency {:agg-field "currency"
                                                :query-field "currency"
                                                :display-field nil
                                                :checked nil}}}]}
