/* some style */

body {
  background-color: #DFFEE3;
}

a {
  cursor: pointer;
}

a:not([href]):not(.fa) {
  cursor: pointer;
  border-bottom: 1px dashed;
}

.fa {
  font-family: 'FontAwesome';
}

.fa-toggle-on {
  color: #00A500;
}

.fa-remove {
  color: red;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  color: royalblue;
  animation: rotating 2s linear infinite;
}

.notify-dot {
  position: absolute;
  color: white;
  background-color: red;
  font-size: 0.4em;
  position: absolute;
  top: 0;
  margin-left: -0.5em;
  padding: 0.1em;
  width: 1em;
  height: 1em;
  border-radius: 2em;
}

.notifications .title {
  list-style: none;
  font-size: 1em;
}

#modals .wrapper {
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#modals .modal {
  background-color: white;
  padding: 1em;
}

#sidebar {
  position: relative;
  background-color: #DFFEE3;
  min-height: 100vh;
}

#filters {
  -webkit-transform: translateZ(0);
  position: fixed;
  top: 0;
  bottom: 3.3em;
  width: inherit;
  overflow-y: auto;
}

#filters ul {
  padding: 0;
}

#filters li {
  list-style-type: none;
}

#filters fieldset {
  border: none;
}

#filters fieldset ul {
  padding-left: 1em;
}

#filters fieldset li input {
  margin-left: 0.5em;
}

#controls {
  position: fixed;
  -webkit-transform: translateZ(0);
  bottom: 0;
  background-color: #00A500;
  width: inherit;
  height: 1.1em;
  font-size: 3em;
  text-align: center;
}

#controls .action {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#controls .action:hover {
  color: white;
}

#savedFilters {
}

#savedFilters a.save {
  margin-left: 1em;
  padding: 1em;
  color: black;
  border-radius: 1em;
  background-color: #00A500;
}

#savedFilters ul {
  display: inline-block;
  padding-left: 1em;
}

#savedFilters li {
  display: inline-block;
  list-style-type: none;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
  background-color: white;
  padding: 0.3em 0.6em;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 1em gray;
}

#savedFilters li.active {
  font-weight: bold;
  background-color: #DFFEE5;
}

#appliedFilters {
}

#appliedFilters ul {
  padding-left: 1em;
}

#appliedFilters li {
  display: inline-block;
  list-style-type: none;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
  background-color: white;
  padding: 0.2em 0.4em;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 1em gray;
}

#products ul.thumbs-list {
  height: 60px;
  list-style: none;
  display: flex;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transform: translateZ(0);
}

#products ul.thumbs-list li {
  padding: 0 0.2em;
}
